{% extends "index.html" %} {% block content %}
<section class="page-section" id="about">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">History of Denmark</h2>
      <p style="margin-bottom: 80px">
        Since the end of the last Ice Age - approximately 10,000 BC - people
        have migrated from the Eastern and Southern parts of Europe to the
        Northern area we now know to be Denmark. The flat terrain, rich soil,
        close proximity to water and at times harsh climate, has shaped Danish
        history and culture ever since.
      </p>
    </div>

    <ul class="timeline">
      <li>
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="assets/img/about/dk-flag.jpg"
            alt=""
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="subheading">The first humans in Denmark</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              The first Danes were hunters and fisherman who probably entered
              the country migrating from Southern and Eastern Europe by the end
              of the last Ice Age around 10,000 BC. By 3000 BC, farms had begun
              to appear on the flat, fertile land we now call Denmark. At first,
              the farmers used stone tools and weapons, but they later adopted
              bronze and iron. By the time of the Iron Age, the Danes had
              established trade links with the Roman Empire, trading goods such
              as animal furs and amber. By 200 AD, the Danish people had begun
              using the Rune language chiseled in stone.
            </p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="assets/img/about/2.jpg"
            alt=""
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="subheading">The glamorous, violent Vikings</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              One of the most notorious periods in Danish history is the age of
              the Vikings. It began around 793 AD with the raids on the English
              tidal island of Lindisfarne. The Vikings were eventually to
              establish settlements in Yorkshire in Northern England and in
              Normandy in the Northwestern part of France. The Viking Age lasted
              about 250 years. At one point, the Danish Viking Sweyn Forkbeard
              (Svend Tveskæg) and his son Canute the Great (Knud den Store) were
              the kings not only of Denmark but of Norway, Southern Sweden,
              Greenland, the Faroe Islands, Shetland, Orkney and parts of
              England. The Vikings travelled widely outside their realm, sailing
              to what today is Russia and Turkey. Their admirable navigation
              skills at sea also brought them as far as Greenland and North
              America. They continued to plunder and steal, along with more
              peaceful activities such as trading precious metals, textiles,
              glassware, jewellery, and fur. On occasion, they also bought and
              sold European slaves.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="assets/img/about/3.jpg"
            alt=""
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="subheading">The introduction of Christianity</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Following the baptism of the Danish King Harald Bluetooth in 965
              AD, the Christian clergy became influential in Danish society. The
              newly-adopted religion, however, did not immediately turn the
              Danes into a peaceful people. They continued to fight to maintain
              and expand their territory, conquering parts of Germany and
              Estonia.
            </p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="assets/img/about/5.jpg"
            alt=""
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="subheading">Nordic unity and rivalry</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              In 1397, with the Kalmar Union, Denmark (incl. Greenland and
              Iceland), Norway and Sweden was joined into a single monarchy
              ruled by the Queen Margrethe I. The Kalmar Union lasted until
              Sweden broke away in 1523, the first shot in a long rivalry
              between Denmark and Sweden for dominance in the region. The two
              countries fought on a regular basis and in 1658 Denmark had to
              cede the provinces of Skåne, Halland and Blekinge, which today
              make up the Southernmost provinces of Sweden. In 1814, the
              sovereignty of Norway was transferred to Sweden too. Iceland
              gained independence in 1918.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="assets/img/about/6.jpg"
            alt=""
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="subheading">Absolutism and democracy</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              The humiliating defeat and loss of Skåne, Halland and Blekinge to
              Sweden set the stage for a power grab that introduced a hereditary
              and absolute monarchy in Denmark. The strong central government
              helped to create a well-organised bureaucratic state and introduce
              agricultural reforms that made farming more efficient, although
              many peasants were still tied to the land and forced to work at
              least part of their time for the landowner. Reforms in 1784
              changed this scenario and paved the way for additional rights for
              the peasants, and in 1814 universal primary education was
              introduced. In a power struggle with the German Confederation
              about the affiliation of the duchies of Schleswig, Holstein and
              Lauenburg on the southern border with Germany. the Danish king
              declared himself a constitutional monarch, paving the way for the
              present democratic constitution. This move led to the war with the
              Germans (1848-1851) which Denmark won. But tensions continued and
              Denmark was defeated by Germany in a renewed conflict in 1864. As
              a result, Denmark had to cede all three duchies. The northern,
              predominantly Danish part of Schleswig, returned under Danish rule
              in 1920 as a result of a plebiscite following Germany’s defeat in
              World War I. Denmark remained neutral in World War I. A small
              German minority still lives in the region.
            </p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="assets/img/about/4.jpg"
            alt=""
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="subheading">Partnerships and prosperity</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              After World War I, the Danish economy began evolving. With the
              help of the cooperative farmers’ movement, there was a large-scale
              shift from the cultivation of grain to livestock farming.
              Industrialisation and dairy production also accelerated, and a
              social welfare state was established. On April 9, 1940, neutral
              Denmark was invaded by German troops. Overwhelmed by the German
              war machine, the country put up minimal resistance at first.
              During the five-year occupation, an underground resistance
              developed to fight the Nazi rule. On May 5th, 1945, Denmark was
              liberated from the German occupation thanks to the efforts of the
              Grand Alliance (UK, US and the Soviet Union) and the Danish
              resistance. Light returned to Danish cities after five years of
              darkness. The post-war Danish economy became more and more
              international with an increase of exports, a contributing factor
              to prosperity. Danish design goods and furniture were popular
              around the world along with Danish bacon, butter, and other
              agricultural products. In 1972, Denmark joined the European
              Economic Community (EEC) - the leading economic partnership in
              Europe - which later became the European Union. Denmark was also
              one of the founding members of the United Nations (UN) and
              continues to be a member of the military alliance - the North
              Atlantic Treaty Organisation (NATO). Today, Denmark is a
              constitutional monarchy ruled by a representative democracy and a
              strong defender of free trade and human rights. Denmark also helps
              fight poverty around the world through its long-standing
              development cooperation.
            </p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            Be Part
            <br />
            Of Our
            <br />
            Story!
          </h4>
        </div>
      </li>
    </ul>
  </div>
  <div>
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#staticBackdrop"
    >
      Important events in Danish history
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="staticBackdrop"
      data-backdrop="static"
      data-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">Table</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Understood</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
