{% extends "index.html" %}

{% block content%}
<section style="background-image: url('https://wallpaperaccess.com/full/131186.jpg');">
    <div class="container">
        <div class="card-columns">
            <!----Card Start-->
            {% for place in places %}
            <div class="card">
                <img src="{{ place.place_image}}" class="card-img-top" alt="{{ place.place_name}}" />

                <div class="card-body">
                    <h5 class="card-title text-uppercase text-dark">{{ place.place_name }}</h5>
                    <p class="card-text text-uppercase">
                        {{ place.place_location }}
                    </p>
                    <p class="card-text" href="">First Explorer in Movimento Community: <strong
                            class="card-text text-uppercase">{{ place.explorer }}</strong>
                    </p>
                </div>
            </div>
            {% endfor %}
            <!----Card End-->
        </div>
    </div>
</section>

<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Would You Like to contribute for Information</h2>
            <h3 class="section-subheading text-muted">
                Here You can give information about any hidden Gem you know. Just fillout information below help
                everyone to find hidden gem around the world. and if you are the first persone to find it and update
                details on our website your name will shown on location card as explorer.
            </h3>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert alert-info" role="alert">
                <h4 class=" center-align">{{ message }}</h4>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <form id="contactForm" method="POST" enctype="multipart/form-data" action="{{url_for('newplace')}}" validate>
            <div class="row align-items-stretch mb-5">
                <div class="col-sm-12">
                    <div class="form-group">


                    </div>
                    <div class="form-group">

                        <input class="form-control" id="place_name" name="place_name" type="text"
                            placeholder="Please enter Name of the Place *" required="required"
                            data-validation-required-message="Please enter Name of the Place" />

                    </div>
                    <div class="form-group">

                        <input class="form-control" id="place_location" name="place_location" type="text"
                            placeholder="Please enter where it's located" required="required"
                            data-validation-required-message="Please enter Which country it's located" />

                    </div>
                    <div class="form-group">

                        <input class="form-control" id="place_image" name="place_image" type="url"
                            placeholder="please put the image link for location" />

                    </div>
                </div>
            </div>
            <div class="text-center">
                <div id="success"></div>
                <button class="btn btn-primary btn-xl text-uppercase" type="submit">
                    submit
                </button>
            </div>
        </form>
    </div>
</section>
{% endblock %}