{% extends "index.html" %} {% block content %}
<div class="masthead pt-5" style="
        background-image: url('https://wallpaperaccess.com/full/131186.jpg');
      ">
    <div class="container pt-5 pb-5">
        <!-- Table -->
        <div class="row">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="mx-auto alert alert alert-info" role="alert">
                <h4 class=" center-align">{{ message }}</h4>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="col-xl-8 m-auto order-xl-1">
                <div class="card bg-light shadow">
                    <div class="card-header bg-white border-0">
                        <div class="row align-items-center p-2">
                            <div class="col-12 text-center">
                                <a href="#!" class="btn btn-sm btn-primary">Update</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <h6 class="heading-small text-muted mb-4">User information</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <p>Userid: {{ username }}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-username">Password</label>
                                            <input type="password" class="form-control" id="inputPassword" name="passw"
                                                placeholder="Password" minlength="5" maxlength="15"
                                                pattern="^[a-zA-Z0-9]{5,15}$" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            {{ name }}
                                            <label class="form-control-label" for="input-first-name"></label>
                                            <input type=" text" class="form-control" name="name" id="name"
                                                aria-valuetext="name " placeholder=" Your Name" minlength="5"
                                                maxlength="15" required />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-last-name">Phone</label>
                                            <input type="number" class="form-control" name="phone" id="inputphone"
                                                placeholder="phone number" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Address -->
                            <h6 class="heading-small text-muted mb-4">Contact information</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-address">Address</label>
                                            <input type="text" class="form-control" id="inputAddress"
                                                placeholder="Street,house/apartment" name="street">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-city">City</label>
                                            <input type="text" class="form-control" id="inputCity" name="city"
                                                placeholder="City">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-country">Country</label>
                                            <input type="text" id="input-country"
                                                class="form-control form-control-alternative" placeholder="Country"
                                                name="country">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-country">Postal code</label>
                                            <input type="number" id="input-postal-code"
                                                class="form-control form-control-alternative" placeholder="Postal code"
                                                name="zip">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}